# Instructor Turn - 01 -- Sets Wildcards Escaping - üë©‚Äçüè´üßë‚Äçüè´

In [1]:
import pandas as pd
pd.options.display.max_colwidth = 100

In [2]:
# load in English words list
sherlock_file = './Resources/sherlock.txt'

sherlock_df = pd.read_csv(sherlock_file, sep='\n', header=None)
sherlock_df.columns = ['text']
sherlock_df.head()

                                text
0  The Adventures of Sherlock Holmes
1              by Arthur Conan Doyle
2                           Contents
3        I.     A Scandal in Bohemia
4       II.    The Red-Headed League

In [3]:
# find all lines of text with the strings 'bought', 'fought', and 'sought'
p = '[bfs]ought'
sherlock_df[sherlock_df['text'].str.contains(p)]

                                                                         text
142        be bought under half a crown a packet. It is peculiarly strong and
297                               ‚ÄúYour Majesty must pay. It must be bought.‚Äù
1135    determined to have a look at it anyhow, so I bought a penny bottle of
3011    quiet and respectable life. I bought this estate, which chanced to be
3196    the time of the war he fought in Jackson‚Äôs army, and afterwards under
3488    which have baffled all those who have sought a solution by the aid of
6399  ‚Äú‚ÄòSome little time ago I bought a small place‚Äîa very small place‚Äîwithin

In [4]:
# find all lines of text with the strings 'bought', 'fought', and 'sought' that end with a period
# note: we need to escape the period with a backslash
p = '[bfs]ought\.'
sherlock_df[sherlock_df['text'].str.contains(p)]

                                            text
297  ‚ÄúYour Majesty must pay. It must be bought.‚Äù

In [5]:
# find every instance of the word "clue" followed by any character
p = '\Wclue.\W'
sherlock_df[sherlock_df['text'].str.contains(p)]

                                                                         text
44            observation in following out those clues, and clearing up those
1600        of this tangled clue. Then I made inquiries as to this mysterious
2053   he held in his hands all the clues which would lead up to the identity
3529       ‚ÄúExcellent. We have already a clue. There can be no doubt that the
3675                                                       ‚ÄúYou have a clue?‚Äù
6252  with which to back it up; and, even if they believe me, the clues which

# Student Turn - 02 -- Sets Wildcards Escaping - üë©‚Äçüéìüë®‚Äçüéì

# Regular Expressions with Character Sets, Wildcards, and Escaping

## Instructions

* Load in the "Alice in Wonderland" text into a DataFrame `alice_df`.

* Create a regular expression using a character set to find all lines with the strings `cat`, `hat`, and `eat`.

* Create a regular expression using a character set to find all lines with the strings `cat`, `hat`, and `eat` that end with a period.

* Create a regular expression that finds all lines that contain a word of the form "w_ll" (where the underscore could be any character).

In [6]:
import pandas as pd
pd.options.display.max_colwidth = 100

In [9]:
# load in Alice in Wonderland text
alice_file = './Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\n', header=None)
alice_df.columns = ['text']
alice_df.head()

                                                                       text
0                                          ALICE‚ÄôS ADVENTURES IN WONDERLAND
1                                           CHAPTER I. Down the Rabbit-Hole
2     Alice was beginning to get very tired of sitting by her sister on the
3  bank, and of having nothing to do: once or twice she had peeped into the
4   book her sister was reading, but it had no pictures or conversations in

In [10]:
# find all lines of text with the strings 'cat', 'hat', and 'eat'
p = '[che]at'
alice_df[alice_df['text'].str.contains(p)]

                                                                            text
5        it, ‚Äòand what is the use of a book,‚Äô thought Alice ‚Äòwithout pictures or
12       There was nothing so VERY remarkable in that; nor did Alice think it so
15      occurred to her that she ought to have wondered at this, but at the time
18        Alice started to her feet, for it flashed across her mind that she had
26        dipped suddenly down, so suddenly that Alice had not a moment to think
...                                                                          ...
2438                                         what a wonderful dream it had been.
2445      up into hers--she could hear the very tones of her voice, and see that
2446          queer little toss of her head to keep back the wandering hair that
2448  listen, the whole place around her became alive with the strange creatures
2468     of the cattle in the distance would take the place of the Mock Turtle‚Äôs

[537 rows x 1 columns]

In [11]:
# find all lines of text with the strings 'cat', 'hat', and 'eat' that end with a period
p = '[che]at\.'
alice_df[alice_df['text'].str.contains(p)]

                                                                      text
66     (Dinah was the cat.) ‚ÄòI hope they‚Äôll remember her saucer of milk at
524   ‚ÄòDinah‚Äôs our cat. And she‚Äôs such a capital one for catching mice you
642             ‚ÄòSure, it does, yer honour: but it‚Äôs an arm for all that.‚Äô
1827                                                         as all that.‚Äô
1975                                ‚Äòany shrimp could have told you that.‚Äô
2043                 While the Owl had the dish as its share of the treat.

In [19]:
# find all lines of text with a word that matches the form "w*ll"
# p = 'w*ll'
p = '\Ww.ll\W'
alice_df[alice_df['text'].str.contains(p)]

                                                                          text
7        So she was considering in her own mind (as well as she could, for the
29         Either the well was very deep, or she fell very slowly, for she had
33     looked at the sides of the well, and noticed that they were filled with
117      It was all very well to say ‚ÄòDrink me,‚Äô but the wise little Alice was
123      poker will burn you if you hold it too long; and that if you cut your
185      who will put on your shoes and stockings for you now, dears? I‚Äôm sure
192          presents to one‚Äôs own feet! And how odd the directions will look!
205   you,‚Äô (she might well say this), ‚Äòto go on crying in this way! Stop this
383        ‚ÄòI know what ‚Äúit‚Äù means well enough, when I find a thing,‚Äô said the
406     you might like to try the thing yourself, some winter day, I will tell
658        do well enough; don‚Äôt be particular--Here, Bill! catch hold of this
688          Alice heard the Rabbit say, ‚ÄòA barrowful will do, to begin with.‚Äô
709      thing is to find my way into that lovely garden. I think that will be
750     behind it, it occurred to her that she might as well look and see what
775       have to turn into a chrysalis--you will some day, you know--and then
794        ‚ÄòIs that all?‚Äô said Alice, swallowing down her anger as well as she
797   Alice thought she might as well wait, as she had nothing else to do, and
867      ‚ÄòOne side will make you grow taller, and the other side will make you
943   looking for eggs, I know THAT well enough; and what does it matter to me
949   down again into its nest. Alice crouched down among the trees as well as
1029                                        as well as she could for sneezing.
1049     be as well to introduce some other subject of conversation. While she
1129    children she knew, who might do very well as pigs, and was just saying
1180   said to herself; ‚Äòthe March Hare will be much the most interesting, and
1234  ‚ÄòNot the same thing a bit!‚Äô said the Hatter. ‚ÄòYou might just as well say
1236  ‚ÄòYou might just as well say,‚Äô added the March Hare, ‚Äòthat ‚ÄúI like what I
1238        ‚ÄòYou might just as well say,‚Äô added the Dormouse, who seemed to be
1253     ‚ÄòYes, but some crumbs must have got in as well,‚Äô the Hatter grumbled:
1281   ‚ÄòIf you knew Time as well as I do,‚Äô said the Hatter, ‚Äòyou wouldn‚Äôt talk
1343                                     they lived at the bottom of a well--‚Äô
1353                               why did they live at the bottom of a well?‚Äô
1363       repeated her question. ‚ÄòWhy did they live at the bottom of a well?‚Äô
1365                                            said, ‚ÄòIt was a treacle-well.‚Äô
1387   ‚ÄòYou can draw water out of a water-well,‚Äô said the Hatter; ‚Äòso I should
1388          think you could draw treacle out of a treacle-well--eh, stupid?‚Äô
1389  ‚ÄòBut they were IN the well,‚Äô Alice said to the Dormouse, not choosing to
1391                    ‚ÄòOf course they were‚Äô, said the Dormouse; ‚Äò--well in.‚Äô
1420  everything‚Äôs curious today. I think I may as well go in at once.‚Äô And in
1541    tone. ‚ÄòThe Queen will hear you! You see, she came rather late, and the
1617   Alice thought she might as well go back, and see how the game was going
1686                                             bore it as well as she could.
1693   ‚ÄòAh, well! It means much the same thing,‚Äô said the Duchess, digging her
1695     of THAT is--‚ÄúTake care of the sense, and the sounds will take care of
1925        They are waiting on the shingle--will you come and join the dance?
1926        Will you, won‚Äôt you, will you, won‚Äôt you, will you join the dance?
1927       Will you, won‚Äôt you, will you, won‚Äôt you, won‚Äôt you join the dance?
1928                  ‚ÄúYou can really have no notion how delightful it will be
1938        Will you, won‚Äôt you, will you, won‚Äôt you, will you join the dance?
1939     Will you, won‚Äôt you, will you, won‚Äôt you, won‚Äôt you join the dance?‚Äù‚Äô
2009       thought Alice; ‚ÄòI might as well be at school at once.‚Äô However, she
2019                         And will talk in contemptuous tones of the Shark,
2057      ‚ÄòHm! No accounting for tastes! Sing her ‚ÄúTurtle Soup,‚Äù will you, old
2092       birds and beasts, as well as the whole pack of cards: the Knave was
2114                                                             just as well.
2124     Alice could see, as well as if she were looking over their shoulders,
2219    the officers of the court. (As that is rather a hard word, I will just
2433  sister, as well as she could remember them, all these strange Adventures
2437      Alice got up and ran off, thinking while she ran, as well she might,

<details>
  <summary><strong> ‚úÖ Solution 02</strong></summary>

```python

import pandas as pd
pd.options.display.max_colwidth = 100

# load in Alice in Wonderland text
alice_file = './Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\n', header=None)
alice_df.columns = ['text']
alice_df.head()

# find all lines of text with the strings 'cat', 'hat', and 'eat'
p = '[che]at'
alice_df[alice_df['text'].str.contains(p)]

# find all lines of text with the strings 'cat', 'hat', and 'eat' that end with a period
p = '[che]at\.'
alice_df[alice_df['text'].str.contains(p)]

# find all lines of text with a word that matches the form "w*ll"
p = '\Ww.ll\W'
alice_df[alice_df['text'].str.contains(p)]




```

</details>

# Instructor Turn - 03 -- Special Characters - üë©‚Äçüè´üßë‚Äçüè´

In [22]:
import pandas as pd
import re
pd.options.display.max_colwidth = 100

In [24]:
# load in English words list
sherlock_file = './Resources/sherlock.txt'

sherlock_df = pd.read_csv(sherlock_file, sep='\n', header=None)
sherlock_df.columns = ['text']
sherlock_df.head()

                                text
0  The Adventures of Sherlock Holmes
1              by Arthur Conan Doyle
2                           Contents
3        I.     A Scandal in Bohemia
4       II.    The Red-Headed League

In [25]:
# find all lines of text that start with the string 'Watson'
p = '^Watson'
sherlock_df[sherlock_df['text'].str.contains(p)]

                                                                         text
207      Watson, who is occasionally good enough to help me in my cases. Whom
1429                                 Watson and I will follow in the second.‚Äù
3843               Watson. I am all off colour. I can do nothing for myself.‚Äù
3951          Watson, and maybe you can see a spark where all is dark to me.‚Äù
4712  Watson, with a week‚Äôs accumulation of dust upon your hat, and when your
8456     Watson, that you have so far grasped this truth that in these little

In [26]:
# find all lines of text that end with a question mark
p = '\?$'
sherlock_df[sherlock_df['text'].str.contains(p)]

                                                                         text
584    to do their own secreting. Why should she hand it over to anyone else?
1377       me. What was this nocturnal expedition, and why should I go armed?
1540       ‚ÄúIt‚Äôs all clear,‚Äù he whispered. ‚ÄúHave you the chisel and the bags?
1916     mine. And yet, what could have happened? And why could he not write?
2467  ‚ÄúThe Coroner: Did your father make any statement to you before he died?
2470                           ‚ÄúThe Coroner: What did you understand by that?
2474                                                      this final quarrel?
2484                                             between you and your father?
2487              and before he even knew that you had returned from Bristol?
2490       returned on hearing the cry and found your father fatally injured?
2492                                          ‚ÄúThe Coroner: What do you mean?
2808     gun as the son stood listening. And this? Ha, ha! What have we here?
3774                                                         him back to her?
3782   it, at the Bar of Gold, in Upper Swandam Lane. But what was she to do?
3784    and pluck her husband out from among the ruffians who surrounded him?
4114   is no human eye which could have seen the deed. What would he do then?
6647    to lie and look up at that deadly black shadow wavering down upon me?
8394                                      who was it brought him the coronet?

# Student Turn - 04 -- Special Characters - üë©‚Äçüéìüë®‚Äçüéì

# Regular Expressions with Special Characters

## Instructions

* Load in the "Alice in Wonderland" text into a DataFrame `alice_df`.

* Create a regular expression to find all lines that start with the string `Alice`.

* Create a regular expression to find all lines that end with an exclamation mark (!).

* Create a regular expression to find all lines that end with an exclamation mark (!) or question mark (?).

In [27]:
import pandas as pd
import re
pd.options.display.max_colwidth = 100

In [28]:
# load in Alice in Wonderland text
alice_file = './Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\n', header=None)
alice_df.columns = ['text']
alice_df.head()

                                                                       text
0                                          ALICE‚ÄôS ADVENTURES IN WONDERLAND
1                                           CHAPTER I. Down the Rabbit-Hole
2     Alice was beginning to get very tired of sitting by her sister on the
3  bank, and of having nothing to do: once or twice she had peeped into the
4   book her sister was reading, but it had no pictures or conversations in

In [29]:
# find all lines of text that start with the string 'Alice'
p = '^Alice'
alice_df[alice_df['text'].str.contains(p)]

                                                                          text
2        Alice was beginning to get very tired of sitting by her sister on the
18      Alice started to her feet, for it flashed across her mind that she had
78     Alice was not a bit hurt, and she jumped up on to her feet in a moment:
88     Alice had been all the way down one side and up the other, trying every
99       Alice opened the door and found that it led into a small passage, not
...                                                                        ...
2124     Alice could see, as well as if she were looking over their shoulders,
2264  Alice watched the White Rabbit as he fumbled over the list, feeling very
2284     Alice looked at the jury-box, and saw that, in her haste, she had put
2309   Alice could see this, as she was near enough to look over their slates;
2437      Alice got up and ran off, thinking while she ran, as well she might,

[64 rows x 1 columns]

In [30]:
# find all lines of text that end with an exclamation mark
p = '\?$'
alice_df[alice_df['text'].str.contains(p)]

                                                                        text
295   ‚ÄòWould it be of any use, now,‚Äô thought Alice, ‚Äòto speak to this mouse?
839                         Do you think I can listen all day to such stuff?
1925      They are waiting on the shingle--will you come and join the dance?
1926      Will you, won‚Äôt you, will you, won‚Äôt you, will you join the dance?
1927     Will you, won‚Äôt you, will you, won‚Äôt you, won‚Äôt you join the dance?
1938      Will you, won‚Äôt you, will you, won‚Äôt you, will you join the dance?
2063                                  Who for such dainties would not stoop?
2071                                                Game, or any other dish?
2073                                      Pennyworth only of beautiful Soup?
2074                                      Pennyworth only of beautiful Soup?
2089                                        CHAPTER XI. Who Stole the Tarts?
2364                                               What would become of you?

In [34]:
# find all lines of text that end with an exclamation mark or a question mark
# hint: you will need to escape the question mark in your match
p = '[\?\!]$'
# p = '\?$|!$'
alice_df[alice_df['text'].str.contains(p)]

                                                                          text
13        VERY much out of the way to hear the Rabbit say to itself, ‚ÄòOh dear!
98          little golden key in the lock, and to her great delight it fitted!
160   ‚ÄòBut it‚Äôs no use now,‚Äô thought poor Alice, ‚Äòto pretend to be two people!
192          presents to one‚Äôs own feet! And how odd the directions will look!
213     hurry, muttering to himself as he came, ‚ÄòOh! the Duchess, the Duchess!
234    four times seven is--oh dear! I shall never get to twenty at that rate!
245                                                     On every golden scale!
274   thought the poor child, ‚Äòfor I never was so small as this before, never!
276   As she said these words her foot slipped, and in another moment, splash!
288     being drowned in my own tears! That WILL be a queer thing, to be sure!
295     ‚ÄòWould it be of any use, now,‚Äô thought Alice, ‚Äòto speak to this mouse?
554   out here? Run home this moment, and fetch me a pair of gloves and a fan!
605      kind of thing never happened, and now here I am in the middle of one!
655       ladder?--Why, I hadn‚Äôt to bring but one; Bill‚Äôs got the other--Bill!
838                                Said his father; ‚Äòdon‚Äôt give yourself airs!
839                           Do you think I can listen all day to such stuff?
879                          blow underneath her chin: it had struck her foot!
1304                                            ‚ÄúTwinkle, twinkle, little bat!
1924                 See how eagerly the lobsters and the turtles all advance!
1925        They are waiting on the shingle--will you come and join the dance?
1926        Will you, won‚Äôt you, will you, won‚Äôt you, will you join the dance?
1927       Will you, won‚Äôt you, will you, won‚Äôt you, won‚Äôt you join the dance?
1938        Will you, won‚Äôt you, will you, won‚Äôt you, will you join the dance?
2062                                                  Waiting in a hot tureen!
2063                                    Who for such dainties would not stoop?
2064                                      Soup of the evening, beautiful Soup!
2065                                      Soup of the evening, beautiful Soup!
2066                                                   Beau--ootiful Soo--oop!
2067                                                   Beau--ootiful Soo--oop!
2069                                                Beautiful, beautiful Soup!
2071                                                  Game, or any other dish?
2073                                        Pennyworth only of beautiful Soup?
2074                                        Pennyworth only of beautiful Soup?
2075                                                   Beau--ootiful Soo--oop!
2076                                                   Beau--ootiful Soo--oop!
2089                                          CHAPTER XI. Who Stole the Tarts?
2254    ‚ÄòCollar that Dormouse,‚Äô the Queen shrieked out. ‚ÄòBehead that Dormouse!
2364                                                 What would become of you?

<details>
  <summary><strong> ‚úÖ Solution 04</strong></summary>

```python

import pandas as pd
import re
pd.options.display.max_colwidth = 100

# load in Alice in Wonderland text
alice_file = './Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\n', header=None)
alice_df.columns = ['text']
alice_df.head()

# find all lines of text that start with the string 'Alice'
p = '^Alice'
alice_df[alice_df['text'].str.contains(p)]


# find all lines of text that end with an exclamation mark
p = '!$'
alice_df[alice_df['text'].str.contains(p)]

# find all lines of text that end with an exclamation mark or a question mark
# hint: you will need to escape the question mark in your match
p = '\?$|!$'
alice_df[alice_df['text'].str.contains(p)]



```

</details>

#  Instructor Turn - 05 -- Groups - üë©‚Äçüè´üßë‚Äçüè´

In [ ]:
import pandas as pd
import re
pd.options.display.max_colwidth = 100

In [ ]:
# load in Sherlock Holmes text
sherlock_file = './Resources/sherlock.txt'

sherlock_df = pd.read_csv(sherlock_file, sep='\n', header=None)
sherlock_df.columns = ['text']
sherlock_df.head()

In [ ]:
# extract all words that start with 'z'
p = '\W(z\w*)\W'
sherlock_df['text'].str.extractall(p, flags=re.I).dropna()

In [ ]:
# Find all the words 6 letters or longer that come after "Holmes" in the text and count their frequency
p = '(?:Holmes)(\s*\w{6,})'
sherlock_df['text'].str.extractall(p, flags=re.I)[0].value_counts()

In [ ]:
# Find all the words 6 letters or longer that don't end in "ly" that come after "Holmes" in the text and count their frequency
p = '(?:holmes)(?!.+ly)(\s*\w{6,})'
sherlock_df['text'].str.extractall(p, flags=re.I)[0].value_counts()

# Student Turn - 06 -- Groups - üë©‚Äçüéìüë®‚Äçüéì

# Regular Expressions Groups

## Instructions

* Load in the "Alice in Wonderland" text into a DataFrame `alice_df`.

* Create a regular expression to extract all words with 12 or more letters

* Create a regular expression to extract every word in the text that comes after "Alice", and count their frequency.

* Create a regular expression to extract every word in the text 5 letters or longer that comes after "Alice", and count their frequency.

* Create a regular expression to extract every word in the text 5 letters or longer that comes after "Alice" and does **not** end in "ly", and count their frequency.

In [ ]:
import pandas as pd
import re
pd.options.display.max_colwidth = 100

In [ ]:
# load in Alice in Wonderland text
alice_file = './Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\n', header=None)
alice_df.columns = ['text']
alice_df.head()

In [ ]:
# extract all words with 12 or more letters

In [ ]:
# Find all the words that come after "Alice" in the text and count their frequency

In [ ]:
# Find all the words 5 letters or longer that come after "Alice" in the text and count their frequency

In [ ]:
# Find all the words 5 letters or longer that don't end in "ly" that come after "Alice" in the text and count their frequency

<details>
  <summary><strong> ‚úÖ Solution 06</strong></summary>

```python


import pandas as pd
import re
pd.options.display.max_colwidth = 100

# load in Alice in Wonderland text
alice_file = './Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\n', header=None)
alice_df.columns = ['text']
alice_df.head()

# extract all words with 12 or more letters
p = '\W(\w{12})\W'
alice_df['text'].str.extractall(p, flags=re.I).dropna()


# Find all the words that come after "Alice" in the text and count their frequency
p = '(?:alice)(\s*\w+)'
alice_df['text'].str.extractall(p, flags=re.I)[0].value_counts()

# Find all the words 5 letters or longer that come after "Alice" in the text and count their frequency
p = '(?:alice)(\s*\w{5,})'
alice_df['text'].str.extractall(p, flags=re.I)[0].value_counts()


# Find all the words 5 letters or longer that don't end in "ly" that come after "Alice" in the text and count their frequency
p = '(?:alice)(?!.+ly)(\s*\w{5,})'
alice_df['text'].str.extractall(p, flags=re.I)[0].value_counts()




```

</details>

# Everyone Turn - 07 -- Regular Expressions with Functions - üë©‚Äçüéìüë®‚Äçüéì

# Regular Expressions with Functions

## Instructions

* Create a function that can find the amount of times a question was asked in a text file by searching for lines that end with a question mark.

  * Print the results for how many questions were asked in the Alice in Wonderland text file.

  * Print the results for how many questions were asked in the Sherlock Holmes text file.

* Create a function that will create a DataFrame for all times a word of 6+ length follows a character.

* Use the function to retrieve the following:

  * Print the word counts for the character 'Alice'.

  * Print the word count for the character 'Hatter'.

  * Print the word count for the character 'Holmes'.

* **Note** each function should be flexible for either text file.

---

In [ ]:
import pandas as pd
import re
pd.options.display.max_colwidth = 100

# Set variables to text files
alice_file = './Resources/alice.txt'
sherlock_file = './Resources/sherlock.txt'

# Create a function to find how many questions are asked in a text
def question_count(text_file):
    # Load text file into a DataFrame
    text_df = pd.read_csv(text_file, sep='\n', header=None)
    text_df.columns = ['text']
    
    # Create regex to find lines that end in a ?
    p = '\?$'
    question_df = text_df[text_df['text'].str.contains(p)]
    
    return len(question_df)

# Print questions asked in the Alice text
print(question_count(alice_file))

# Print Questions asked in the Holmes text
print(question_count(sherlock_file))

# Create a function that will create a DataFrame for all 6+ lengths word following a character
def word_count(text_file, character):
    
    # Load text file into a DataFrame
    text_df = pd.read_csv(text_file, sep='\n', header=None)
    text_df.columns = ['text']
    
    # Create regex string for the character
    p = '('+ character + ')' + '(\s*\w{6,})'
    
    # Group the character and the words
    word_groups_df = text_df['text'].str.extractall(p)
    
    # Return 
    return word_groups_df[1].value_counts()

# Print the Word count for the character Alice
word_count(alice_file, "Alice")


# Print the Word count for the characters Hatter
word_count(alice_file, "Hatter")

# Print the Word count for the characters Holmes
word_count(sherlock_file, "Holmes")

# ETL Process

# Instructions

1. There are six values in a connection string:
    * Protocol
    * User
    * Password
    * Location
    * Port
    * Database
Identify the six values in the connection string "postrgres://postgres:12345@localhost:5432/pets"

2. How is a connection string different than a website URL?

3. Create a connection string with the following values
    * Protocol: "mysql"
    * User: "admin"
    * Password: "p@ssw0rd123"
    * Location: "rds.us-east-2.amazonaws.com"
    * Port: "3306"
    * Database: "example"

# Solution

1. The six values are
    * Protocol: "postgres"
    * User: "postgres"
    * Password: "12345"
    * Location: "localhost"
    * Port: "5432"
    * Database: "pets"

2. Connection strings are URLs, but differ from website URLs by
    * Different protocol, i.e. "postgres" vs "http(s)"
    * Connection strings have user, password, and database, while website URLs do not
    * Website URLs have port 80 implied (but can use different ports, i.e. Jupyter Notebook)

3. The connection string is "mysql://admin:p@ssw0rd123@rds.us-east-2.amazonaws.com:3306/example"

# Connection Strings

In [ ]:
protocol = "____"
user = "____"
password = "____"
location = "____"
port = "____"
database = "____"

connection_string = f"{protocol}://{user}:{password}@{location}:{port}/{database}"
print(connection_string)

In [ ]:
protocol = "postgres"
user = "admin"
password = "p@ssw0rd"
location = "localhost"
port = "5432"
database = "db"

connection_string = f"{protocol}://{user}:{password}@{location}:{port}/{database}"
print(connection_string)

# to_sql()

* **File:**
    [alice.txt](Activities/C3-Stu_to_sql()/Resources/alice.txt)

* **Instructions**

    * In pgAdmin, create a database called `alice_db`

    * Create a connection string and engine to connect to `alice_db`

    * Use the Pandas to_sql() method to load the contents of alice_df into a table called `alice`

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

In [ ]:
# load in Alice in Wonderland text
alice_file = './Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\n', header=None)
alice_df.columns = ['text']

In [ ]:
connection_string = f'postgres://postgres:{db_password}@localhost:5432/alice_db'

engine = create_engine(connection_string)

# Extra Content by TA

In [ ]:
engine = create_engine('postgresql+psycopg2://user:pswd@mydb')
df.to_sql('temp_table', engine, if_exists='replace')
sql = """
    UPDATE final_table AS f
    SET col1 = t.col1
    FROM temp_table AS t
    WHERE f.id = t.id
"""
with engine.begin() as conn:     # TRANSACTION
    conn.execute(sql)

In [ ]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from config import username, password
#username="postgres"
#password = "password_for_server"
protocol = "postgres"
location = "127.0.0.1"
port = "5432"
db = "practice"
class SQL_Database:
    def __init__(self, protocol, username, password, location, port, db):
        '''
        Store database credentials:
        Parameters:
            protocol - the protocol for the database
            username - database username
            password - database password
            location - the ip address for server location
            port     - port for connection
            db       - name of the database
        '''
        self.protocol = protocol
        self.username = username
        self.password = password
        self.location = location
        self.port = port
        self.db = db
    def connect(self):
        '''
        Lets setup a test for DB connection:
        Sets in Class object:
            engine - engine used to extract data
            conn   - connection value to verify connection
            cursor - the cursor item from the connection
        '''
        connection_string = f'{self.protocol}://{self.username}:{self.password}@{self.location}:{self.port}/{self.db}'  
        self.conn = psycopg2.connect(connection_string)
        self.cursor = self.conn.cursor()
        self.engine = create_engine(connection_string)
        print("Connected!")
        print(pd.DataFrame(self.engine.table_names(), columns=["Tables in database:"]))
    def insert_or_create(self,data_df, table_name):
        '''
        This will insert a new table if the table does not exist.
        If the table does exist we will append to the table
        Parameters:
            data_df    - a dataframe of the data we are inserting
            table_name - name of the table we are inserting the data into
        '''
        check=self.engine.has_table(table_name)
        if check == False:
            print("New table created")
            data_df.to_sql(name=table_name, con=self.engine, index=False)
        else:
            print("Table appended too")
            data_df.to_sql(name=table_name, con=self.engine, index=False, if_exists="append")

In [ ]:
# How to utilize it:
database = SQL_Database(protocol, username, password, location, port, db)
database.connect()
database.insert_or_create(data_loading_df, table_name)

#  to_sql()

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import psycopg2

In [ ]:
# load in Sherlock Holmes text
sherlock_file = './Resources/sherlock.txt'

sherlock_df = pd.read_csv(sherlock_file, sep='\n', header=None)
sherlock_df.columns = ['text']

In [ ]:
connection_string = f'postgres://postgres:{db_password}@localhost:5432/sherlock_db'

engine = create_engine(connection_string)

In [ ]:
protocol = ''
user = ''
location = ''
port = ''
db = ''
def connect():
    
    # Set up a connection to the postgres server.
    connection_string = f'{protocol}://{user}:{db_password}@{location}:{port}/{db}'
            
    conn = psycopg2.connect(connection_string)
    print("Connected!")

    # Create a cursor object
    cursor = conn.cursor()
    
    return conn, cursor

In [ ]:
connect()

In [ ]:
sherlock_df.to_sql(name="sherlock", con=engine, index=False)